:root {
  /* --mui-palette-primary-main: #aeaf52; */
  --mui-palette-primary-main: #1976d2;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(24, 24, 24, 0.87);
  background-color:rgb(255, 255, 255); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    /* padding: 20px; */
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    max-width: 80%;
    /* border: 1px white; */

    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}

.topPanelBar{
  position: absolute;
  /* position: fixed; */
  /* position: ; */
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  /* display: block; */
  /* display: flex; */
  /* flex-direction: row; */
}

.logo{
  position: absolute;
  left: 8px;
  top: 8px;
  width: 100%;
  height: 100%;
}

.searchBar{
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);

}

.accountBar{
  position: absolute;
  Right: 40px;
  height: 100px;
  width: 100px;

}

.searchIcon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.categoryBar{
  position: absolute;
  display: flex;
  height: 50px;
  width: 100%;
  bottom: 0;
}
.title{
  text-align: center;

  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  top: 20%;
}
.catchphrase{
  /* left: 50%; */
  /* transform: translateX(30%); */
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.homePageLink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
}

.logo-div {
  position: absolute;
  /* left: 10 px; */
  height: 50px;
  width: 50px;
}

/* .big-stuff {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */