.Image{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 10%;
    width: 10%;


}

.Name{
    text-align: center;
}

.ItemInfo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
}

.tagList{
    display: flex;
    width: 100%;
    overflow: auto;
}

.tag{
    margin: 10px;
    padding: 50px
}
#root{
    height: 100%;
    width: 100%;
}